#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_IN]=/etc/ads_setup/kawach/public/images/logo.png
Name[en_IN]=ADS_V1.4
Exec= /etc/ads_setup/ads_v1.4/launcher/script.bin %U
# Path=/etc/ads_setup/ads_v1.0/launcher/
Exec=script.bin
Exec=/usr/bin/google-chrome-stable http://localhost:5050
Name=ADS_V1.0
Icon=/etc/ads_setup/ads_v1.4/launcher/ads_logo1.jpg-modified.png
