* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#home-page {

    #map,
    #jammer-info,
    #drawer-jammer {
        height: 93.4vh;
    }
}

#logs-div {
    height: 75vh;
}

@media screen and (max-width: 600px) {
    #logs-div {
        height: 60vh;
    }
}

@media (max-width: 767px) {
    #map,
    #jammer-info,
    #drawer-jammer {
        height: 76.7vh;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #map,
    #jammer-info,
    #drawer-jammer {
        height: 68.5vh;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #map,
    #jammer-info,
    #drawer-jammer {
        height: 62.2vh;
    }
}

@media (min-width: 1200px) {
    #map,
    #jammer-info,
    #drawer-jammer {
        height: 50vh;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #292929;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0bfbf96;
    border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}