* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#home-page {

    #map,
    #jammer-info,
    #drawer-jammer {
        height: 93.4vh;
    }
}

#logs-div {
    height: 75vh;
}

@media screen and (max-width: 600px) {
    #logs-div {
        height: 60vh;
    }
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0bfbf96;
    border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}