<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./assets/icon/project-icon.png">
    <link rel="stylesheet" href="./assets/css/common.css">
    <link rel="stylesheet" href="./modules/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="./modules/leaflet.markercluster/dist/MarkerCluster.Default.css">
    <link rel="stylesheet" href="./modules/sweetalert2/dist/sweetalert2.css">
    <link rel="stylesheet" href="./modules/toastify-js/src/toastify.css">

    <script src="./assets/lib/tailwindcss.js"></script>
    <script src='./assets/lib/font-awesome.js' crossorigin='anonymous'></script>
    <script src="./modules/leaflet/dist/leaflet.js"></script>
    <script src="./modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="./assets/lib/tailwindcss.js"></script>
    <script src="./assets/lib/jquery.js"></script>
    <script src="./modules/sweetalert2/dist/sweetalert2.js"></script>
    <script src="./modules/toastify-js/src/toastify.js"></script>
    <script defer src="./assets/js/common.js"></script>

    <title>Prison Jammer</title>
</head>

<body>
    <header>
        <%- include('navbar'); %>
    </header>