<%- include('../partial/header'); %>
    <div id="diagnosis" class="w-full">
        <div class="relative w-full h-full">
            <div class="absolute left-0 w-1/4 h-full overflow-scroll text-white bg-black bg-opacity-80">
                <p
                    class="sticky top-0 text-white text-3xl font-bold text-center p-2 rounded-b-lg bg-slate-800 bg-opacity-80 hover:bg-opacity-90">
                    Blocks</p>

                <div id="block-container" class="w-full grid sm:grid-cols-1 lg:grid-cols-2 gap-2 mt-2">
                    <!-- <button type="button"
                            class="w-11/12 mx-auto bg-green-500 border text-center font-bold sm:text-base lg:text-xl text-black p-6 rounded hover:bg-gray-400 hover:transition-all delay-75 ease-in-out">Block
                            1
                        </button> -->
                </div>
            </div>

            <div class="absolute right-0 w-3/4 h-full overflow-scroll text-white bg-black bg-opacity-60">
                <p id="jammer-title"
                    class="sticky top-0 text-white text-3xl font-bold text-center p-2 rounded-b-lg bg-slate-800 bg-opacity-80 hover:bg-opacity-90">
                </p>
                <div id="jammer-container" class="w-full grid grid-cols-4 gap-2 mt-2">
                    <!-- <button class="w-11/12 mx-auto p-4 grid grid-rows-2 text-black bg-green-500 border rounded-lg">
                        <span class="font-bold ">J 1</span>
                        <span class="text-sm shadow rounded-full">jammer ddemo</span>
                    </button> -->
                </div>

                <!-- This is add by rahul to show the jammer details in the bottom of the page  -->
                <!-- <div class="volt-temp absolute left-0 w-full  text-white bg-yellow-500">
                    
                    <table>
                        <tr>
                        <td scope="col" class="px-3 py-1 text-right font-bold text-black "></td>
                        <td scope="col" class="px-3 py-1 text-right font-bold text-black">Name</td>
                        <td scope="col" class="px-3 py-1 text-left font-bold text-black bg-green-700">${jammerName}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-1 text-left" ><span id ="temp-span" class="flex text-sm shadow border-4   border-double rounded-full size-4 bg-red-500" connection="f"  id="jammer-connection"></span></td>
                            <td scope="col" class="px-3 py-1 text-right font-bold text-black bg-red-700">Temp :</td>
                            <td scope="col" class="px-3 py-1 text-left bg-green-700" id="temp-d" >44 C</td>
                        </tr>
                        <tr>
                            <td scope="col" class="px-3 py-1 text-left"><span id ="voltage-span" class=' flex text-sm shadow border-4   border-double rounded-full size-4 bg-red-500' connection="f"  id="jammer-connection"></span></td>
                            <td scope="col" class="px-3 py-1 text-right font-bold text-black bg-red-700">Volt :</td>
                            <td scope="col" class="px-3 py-1 text-left bg-green-700" id="volt-d" >445 V</td>
                        </tr>
                    </table>
                </div> -->
                </div>
                

                <%- include('../components/chennelContainer.ejs') %>
                
                <!-- <div id="channel-div" class="absolute h-full w-full backdrop-blur-sm transition ease-in-out delay-150">
                    <div class="flex items-center">
                        <button id="close-channel-container" class="mx-4 float-left size-8 border rotate-180 bg-gray-50 opacity-100  m-2 rounded-full hover:bg-gray-200 transition duration-0 hover:duration-150">
                            <img src="./assets/icon/right-arrow.png" alt="close" srcset="">
                        </button>
                        <span class="headings">Jammer Channel's</span>
                    </div>
                    <div id="channel-container">

                    </div>
                </div> -->

                

            </div>
           
        </div>

    </div>
    <script defer src="./assets/js/diagnosis.js"></script>
    <%- include('../partial/footer'); %>