<%- include('../partial/header'); %>
    <div id="diagnosis" class="w-full">
        <div class="relative w-full h-full">
            <div class="absolute left-0 w-1/4 h-full overflow-scroll text-white bg-black bg-opacity-80">
                <p
                    class="sticky top-0 text-white text-3xl font-bold text-center p-2 rounded-b-lg bg-slate-800 bg-opacity-80 hover:bg-opacity-90">
                    Blocks</p>

                <div id="block-container" class="w-full grid sm:grid-cols-1 lg:grid-cols-2 gap-2 mt-2">
                    <!-- <button type="button"
                            class="w-11/12 mx-auto bg-green-500 border text-center font-bold sm:text-base lg:text-xl text-black p-6 rounded hover:bg-gray-400 hover:transition-all delay-75 ease-in-out">Block
                            1
                        </button> -->
                </div>
            </div>

            <div class="absolute right-0 w-3/4 h-full overflow-scroll text-white bg-black bg-opacity-60">
                <p id="jammer-title"
                    class="sticky top-0 text-white text-3xl font-bold text-center p-2 rounded-b-lg bg-slate-800 bg-opacity-80 hover:bg-opacity-90">
                </p>
                <div id="jammer-container" class="w-full grid grid-cols-4 gap-2 mt-2">
                    <!-- <button class="w-11/12 mx-auto p-4 grid grid-rows-2 text-black bg-green-500 border rounded-lg">
                        <span class="font-bold ">J 1</span>
                        <span class="text-sm shadow rounded-full">jammer ddemo</span>
                    </button> -->
                </div>

            </div>
        </div>

    </div>
    <script defer src="./assets/js/diagnosis.js"></script>
    <%- include('../partial/footer'); %>