<%- include('../partial/header'); %>

    <div class="w-full">
        <div class="filter-div  w-3/4 m-auto mt-2">
            <div class="flex flex-row gap-4">
                <label for="startdate" class="text-white font-bold py-1">Start</label>
                <input name="startdate" id="startdate" class="px-2 py-1 opacity-60 rounded hover:opacity-80 ease-in-out duration-300" type="datetime-local" placeholder="start date" />
                <label for="enddate" class="text-white font-bold py-1">End</label>
                <input name="enddate" id="enddate" class="px-2 py-1 opacity-60 rounded hover:opacity-80 ease-in-out duration-300" type="datetime-local" placeholder="start date" />
                <button type="button" id="date-filter" title="apply filter"><img class="h-8 w-auto invert py-1" src="./assets/icon/filter.png" alt="filter" srcset=""></button>
                <button type="button" id="logs-reload"><img class="h-8 w-auto invert py-1" src="./assets/icon/reload.png" alt="reload" srcset=""></button>
            </div>
            <div class="flex flex-row gap-1 mt-2">
                <label for="status" class="text-white font-bold py-1">Status</label>
                <select name="status" id="status" class="px-2 py-1 opacity-60 rounded hover:opacity-80 ease-in-out duration-300">
                    <option value="" selected disabled>select</option>
                    <option value="1">ON</option>
                    <option value="0">OFF</option>
                </select>
            </div>

        </div>



        <div id="logs-div" class="w-3/4 m-auto mt-6 overflow-auto">
            <table id="logs-table"
                class="w-full text-white border-slate-500 divide-y divide-gray-300 bg-sky-700 text-xl">
                <thead class="sticky top-0 bg-sky-700">
                    <tr class="divide-x divide-gray-200">
                        <th scope="col" class="py-2 text-yellow-50">S.N.</th>
                        <th scope="col" class="py-2 text-yellow-50">NAME</th>
                        <th scope="col" class="py-2 text-yellow-50">BLOCK</th>
                        <th scope="col" class="py-2 text-yellow-50">STATUS</th>
                        <th scope="col" class="py-2 text-yellow-50">DATE TIME</th>
                    </tr>
                </thead>
                <tbody class="divide-y overflow-y-auto  w-full">
                    <!-- <tr class="text-center text-xl divide-x divide-gray-200">
                        <td scope="col" class="py-2">1</td>
                        <td scope="col" class="py-2">jammer Name</td>
                        <td scope="col" class="py-2">block 1</td>
                        <td scope="col" class="py-2">ON</td>
                        <td scope="col" class="py-2">06/12/2024 14:25</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
    <script src="./assets/js/history.js"></script>
    <%- include('../partial/footer'); %>