<%- include('../partial/header'); %>

    <div id="history" class="w-full">
        <div class="filter-div w-3/4 m-auto mt-2">

            <div class="flex flex-row items-center gap-4">
                <label for="startdate" class="text-white font-bold py-1">Start</label>
                <input name="startdate" id="startdate"
                    class="px-2 py-1 opacity-60 rounded hover:opacity-80 ease-in-out duration-300" type="datetime-local"
                    placeholder="start date" />
                <label for="enddate" class="text-white font-bold py-1">End</label>
                <input name="enddate" id="enddate"
                    class="px-2 py-1 opacity-60 rounded hover:opacity-80 ease-in-out duration-300" type="datetime-local"
                    placeholder="start date" />
                <button type="button" id="date-filter" title="apply filter"><img class="h-8 w-auto invert py-1"
                        src="./assets/icon/filter.png" alt="filter" srcset=""></button>
                <button type="button" id="logs-reload"><img class="h-8 w-auto invert py-1"
                        src="./assets/icon/reload.png" alt="reload" srcset=""></button>
                <button type="button" id="logs-download" onclick="downloadTableAsExcel('logs-table')"><img
                        class="h-8 w-auto invert py-1" src="./assets/icon/download.png" alt="reload" srcset=""></button>


                <a target="_blank" href="/pflogs"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-md font-medium">Power
                    Failure Logs</a>
            </div>

            <div class="flex flex-row gap-4 py-1 mt-2 ">
                <div style="display: none;">
                    <label for="statusOptions" class="text-white font-bold py-1 pr-1">Status</label>
                    <select name="statusOptions" id="statusOptions"
                        class="px-2 py-1 opacity-60 rounded hover:opacity-80 ease-in-out duration-300">
                        <option value="" selected disabled>select</option>
                        <option value="1">On</option>
                        <option value="0">Off</option>
                        <!-- <option value="2">All</option> -->
                    </select>
                </div>

                <div>
                    <label for="blockOptions" class="text-white font-bold py-1 pr-1">Block</label>
                    <select name="blockOptions" id="blockOptions"
                        class="px-2 py-1 opacity-60 rounded hover:opacity-80 ease-in-out duration-300">
                        <!-- <option value="" selected disabled>select</option> -->

                    </select>
                </div>
            </div>

        </div>



        <div id="logs-div" class="w-3/4 m-auto mt-6 overflow-auto ">
            <table id="logs-table"
                class="w-full text-white border-slate-500 divide-y divide-gray-300 bg-sky-700 text-xl">
                <thead class="sticky top-0 bg-sky-800">
                    <tr class="divide-x divide-gray-200">
                        <th scope="col" class="py-2 text-yellow-50">S.N.</th>
                        <th scope="col" class="py-2 text-yellow-50">NAME</th>
                        <th scope="col" class="py-2 text-yellow-50">BLOCK</th>
                        <th scope="col" class="py-2 text-yellow-50">Jammer ON</th>
                        <th scope="col" class="py-2 text-yellow-50">Jammer OFF</th>
                        <th scope="col" class="py-2 text-yellow-50">DURATION</th>
                    </tr>
                </thead>
                <tbody class="divide-y overflow-y-auto  w-full">
                </tbody>
            </table>
        </div>

    </div>
    <script src="./assets/js/history.js"></script>
    <script src="./assets/js/tableToExcel.js"></script>
    <%- include('../partial/footer'); %>