<%- include('../partial/header'); %>

    <div id="history" class="w-full">
        <div class="w-11/12 m-auto mt-2 ">

            <div class="all_option w-full">
                <div class="flex justify-between gap-4">
                    <div class="flex gap-2">
                        <label for="startdate" class="text-white font-bold py-1">Start</label>
                <input name="startdate" id="startdate"
                    class="px-2 py-1 opacity-60 rounded hover:opacity-80 ease-in-out duration-300" type="datetime-local"
                    placeholder="start date"  />
                <label for="enddate" class="text-white font-bold py-1">End</label>
                <input name="enddate" id="enddate"
                    class="px-2 py-1 opacity-60 rounded hover:opacity-80 ease-in-out duration-300" type="datetime-local"
                    placeholder="start date" />
                    </div>

                    <div class="flex gap-2">
                        <button type="button" id="pfdate-filter" title="apply filter"><img class="h-8 w-auto invert py-1"
                        src="./assets/icon/filter.png" alt="filter" srcset=""></button>
                <button type="button" id="pflogs-reload"><img class="h-8 w-auto invert py-1"
                        src="./assets/icon/reload.png" alt="reload" srcset=""></button>
                    </div>
                </div>


                <div>
                    
                <button type="button" id="logs-download"   onclick="download_toggle()"><img
                        class="h-8 w-auto invert py-1" src="./assets/icon/download.png" alt="reload" srcset=""></button>
                </div>


                <!-- powerfailure-logs-table -->


                <!-- <button type="button" id="powerfailure-logs">Power Failure Logs</button> -->
            </div>

            <div id="selectOption" class="disable-bg" onclick="download_toggle();">
            <div class="downlaod_choice">
                <div class="content">
                    <div class="divimg">
                        <button id="excel_button" onclick="downloadTableAsExcel('powerfailure-logs-table')">
                            <i class="fa dicon">&#xf1c3;</i>
                        </button>
    
                        <button id="pdf_button" onclick='downloadTableAsPDF("Powerfailure-logs-table","powerfailure-logs-table",10);'>
                            <i class="fa dicon">&#xf1c1;</i>
                        </button>
                        <!-- <div id="cr" onclick="download_toggle();" class="fa" style="cursor: pointer;">&#xf00d;</div> -->
                    </div>
                </div>
            </div>
    
        </div>



        </div>



        <div id="logs-div" class="w-11/12 m-auto mt-6 overflow-auto ">
            <table id="powerfailure-logs-table"
                class="w-full text-white border-slate-500 divide-y divide-gray-300  text-xl">
                <thead class="sticky top-0 bg-black">
                    <tr class=" ">
                        <th scope="col" class="py-2 text-yellow-50">S.N.</th>
                        <th scope="col" class="py-2 text-yellow-50">JAMMER ID</th>
                        <th scope="col" class="py-2 text-yellow-50">JAMMER NAME</th>
                        <th scope="col" class="py-2 text-yellow-50">STATUS</th>
                        <th scope="col" class="py-2 text-yellow-50">FROM</th>
                        <th scope="col" class="py-2 text-yellow-50">TO</th>
                        <th scope="col" class="py-2 text-yellow-50">DURATION</th>
                        <!-- <th scope="col" class="py-2 text-yellow-50">DATE TIME</th> -->
                    </tr>
                </thead>
                <tbody class="divide-y overflow-y-auto  w-full">
                </tbody>
            </table>
        </div>

    </div>

    <script>
        function download_toggle() {
            $("#selectOption").toggle();
        }

        function filter() {
            var a = document.getElementById("start_date").value;
            var b = document.getElementById("end_date").value;
            window.location.href = `/featherLogs?start=${a}&end=${b}`;
        }
        
    </script>
    <script src="./assets/js/pflogs.js"></script>

    <script type="text/javascript" src="./../../assets/js/jspdf.min.js" ></script>
        <script type="text/javascript" src="./../../assets/js/jspdf.plugin.autotable.min.js"></script>
    <%- include('../partial/footer'); %>