@tailwind base;
@tailwind components;
@tailwind utilities;

#diagnosis {
    height: 93.4vh;

    .headings {
        @apply sticky top-0 text-white text-3xl font-bold text-center p-2 rounded-b-lg bg-slate-800 bg-opacity-80 hover:bg-opacity-90;
    }
}

#history {
    height: 92.5vh;
}

#setting {
    height: 90.9vh;
}

.upper-badge {
    @apply absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900
}

#signup {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}